.content {
    display: grid;
    margin: 60px;
    grid-gap: 6em;
    grid-template-columns: 1fr 1fr;
}

.content-1 {
    max-width: 580px;
    font-size: 1.1rem;
}

.content-2 img {
    max-height: 500px;
    border-radius: 15px;
}

.content-3 img {
    max-width: 600px;
    border-radius: 15px;
}

.content-4 {
    max-width: 445px;
    font-size: 1.1rem;
}
.content-1 p {
    padding-bottom: 10px;
}

h1,
h2 {
    text-transform: uppercase;
}


/* Media*/

@media (min-width: 600px) {
.content {
    display: grid;
    margin: 60px;
    grid-gap: 1em;
    grid-template-rows: auto;
    max-width: 500px;
    
    }

   
}

@media (min-width: 800px){
.content {
    display: grid;
    margin: 60px;
    grid-gap: 6em;
    grid-template-columns: 1fr 1fr;
    }

}





