.checkout h1,
.os-1 h2 {
    text-transform: uppercase;
    font-weight: bolder;
}

.os-1 h2 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.checkout {
    max-width: 700px;
    margin-left: 60px;
    display: flex;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 700px;
}

form {
    margin-bottom: 60px;
}

.cta-black {
    padding: 15px 300px; 
    text-decoration: none;
    border-radius: 0.5em;
    border-style: solid;
    margin-bottom: 40px;
}

textarea {
    padding: 15px 15px 120px 15px;
}

input,
textarea {
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    margin: 10px 10px 10px 0px;
    padding: 15px;
}

select {
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Hind Madurai";
    color: #D9D9D9;
    width: 685px;
    margin: 10px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.order-summary,
.os {
    background: #F4F3F3;
    border-radius: 0.7rem;
    display: grid;
    grid-template-columns: 300px 200px;
    margin: 150px 10px 100px 100px;
    grid-template-rows: 280px 280px;
}


img {
    max-width: 170px;
    margin: 20px 20px 20px 30px;
}

.selected {
    border-top: 1px solid #D9D9D9;
}

.os-1 {
    margin: 20px;
    width: 465px;
}

.os-2 {
    margin: 105px 0px 0px 150px;
}

.jump {
    color: #929292;
    font-size: 0.9rem;
    border-bottom: solid #000;
}

.total {
    border-bottom: solid #000;
}

.os-4 h2, 
.os-4 p {
    font-size: 1rem;
}

.os-4 {
    margin: 15px 0px;
}

.edit {
    margin: 0px 450px;
    text-decoration: underline;
    font-size: 0.9rem;
}
