.checkout h1,
.os-1 h2 {
    text-transform: uppercase;
    font-weight: bolder;
}

.os-1 h2 {
    margin-top: 0px;
    margin-bottom: 40px;
}

.checkout {
    margin: 30px;
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.9rem;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 550px;
}

form {
    max-width: 270px
    font-size: 1rem;
}

.cta-black {
    padding: 15px 25px; 
    text-decoration: none;
    border-radius: 0.5em;
    border-style: solid;
    margin: 10px 0px;
    text-align: center;
}

textarea {
    padding: 15px 15px 120px 15px;
}

input,
textarea {
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    margin: 10px 10px 10px 0px;
    padding: 15px;
}

select {
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Hind Madurai";
    color: #D9D9D9;
    width: 685px;
    margin: 10px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.order-summary,
.os {
    background: #F4F3F3;
    border-radius: 0.7rem;
    display: grid;
    grid-template-columns: 140px 140px;
    margin: 30px 0px;
    grid-template-rows: 190px 190px;
    font-size: 0.6rem;
    justify-content: center;
}

img {
    max-width: 100px;
    margin: 30px 20px 10px 10px;
}

.selected {
    border-top: 1px solid #D9D9D9;
}

.os-1 {
    margin: 20px;
    width: 240px;
    font-size: 0.7rem;
}

.os-2 {
    margin: 95px 0px 0px 90px;
    font-size: 0.7rem;
}


.jump {
    color: #929292;
    font-size: 0.7rem;
    border-bottom: solid #000;
}

.total {
    border-bottom: solid #000;
}

.os-4 h2, 
.os-4 p {
    font-size: 0.7rem;
}

.os-4 {
    margin: 25px 0px;
}

.edit {
    display: none;
}

select {
    max-width: 270px;
}




/* Media */

@media (min-width: 600px) {

    .checkout {
        align-items: stretch;
    }

    form {
        max-width: 540px;
    }

    .selected {
        max-width: 540px;
    }
}

@media (min-width: 750px) {
.checkout {
    margin-left: 60px;
    flex-direction: column-reverse;
}

.order-summary,
.os {
    margin: 50px 30px 50px 30px;
    grid-template-columns: 160px 160px;
}

.os-4 h2, 
.os-4 p,
.os-1,
.os-2 {
    font-size: 0.7rem;
}
.jump, .total {
    width: 290px;
}

    .os-4 {
        margin: 25px 10px;
    }

img {
    max-width: 140px;
    margin: 20px 20px 20px 20px;
}

select {
    font-size: 1rem;
}

.edit {
    margin: 0px 250px;
    text-decoration: underline;
    font-size: 0.8rem;
    display: inline-block;
}
.checkout-form {
    flex-direction: column;
    }

    .os-2 {
        margin: 90px 0px 0px 120px;
    }
}



@media (min-width: 1000px) {
    .checkout {
        max-width: 700px;
        margin-left: 60px;
        flex-direction: row;
    }

    .checkout-form {
        flex-direction: column;
        margin-bottom: 20px;
        max-width: 700px;
    }

.os-4 h2, 
.os-4 p,
.os-1,
.os-2 {
    font-size: 1rem;
}
.order-summary,
.os {
    margin: 150px 10px 200px 100px;
    grid-template-rows: 280px 280px;
    grid-template-columns: 240px 240px;
    font-size: 1rem;
}

.os-4 {
    margin: 15px 0px;
}

select {
    max-width: 700px;
    font-size: 1.5rem;
}

.jump, .total {
    width: 440px;
}

img {
    max-width: 170px;
    margin: 20px 20px 20px 30px;
}

.edit {
    margin: 0px 430px;
}

.os-2 {
    margin: 100px 0px 0px 180px;
}

form {
    font-size: 1.3rem;
}

}
}


