.welcome {
    background: url("../images/header1.png") no-repeat;
    min-height: 800px;
    background-size: cover;
    font-weight: bold;
}

.welcome_content {
    position: absolute;
    top: 225px;
    left: 75px;
    right: 500px;
}

.welcome_content h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.welcome-text,
.order-text {
    display: block;
}

.text {
    background-color: #fff;
    color: #000;
    text-align: center;
    margin: 60px;
}

.text h2 {
    font-weight: bolder;
    font-size: 2em;
    margin-bottom: 0px;
}

.text p {
    font-size: 1.3rem;
    margin-top: 4px;
}

.mw1 img,
.mw2 img {
    max-width: 740px;
    margin: 0px 5px 20px 0px;
}

.gender {
    display: flex;
}

.news {
    background-image: url("../images/news.png");
    background-repeat: no-repeat;
    min-height: 700px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flow;
}

.mw1 .cta,
.mw2 .cta {
    margin: 270px;
}

.news h3 {
    font-weight: bold;
    font-size: 1.7rem;
    margin: 130px 0px 20px 0px;
    padding: 100px 50px 0px 50px;
}

.news .cta {
    float: left;
    margin: 10px;
}

.news a.cta {
    margin-left: 50px;
}

.news a.cta.cta-w {
    margin-left: 16px;
}

.explore {
    display: flex;
}

.adventure img {
    float: left;
    max-width: 425px;
    margin-bottom: 10px;
    flex: 1;
}

.adventure {
    margin: 200px 0px 100px 40px;
}

.explore h4 {
    text-align: center;
}

.explore h3 {
    position: absolute;
    margin: 140px 40px;
    font-size: 1.5rem;
}

.sign-up {
    color: #000;
    text-align: center;
    background: #F4F3F3;
    padding-bottom: 9rem;
    padding-top: 9rem;
}
    

.su-text {
    background-color: #F4F3F3;
}

.su-text,
.sign-up form {
    max-width: 600px;
    text-align: left;
    margin: auto;
}

.sign-up h4 {
    margin-bottom: 0px;
    font-weight: 900;
    text-transform: uppercase;
}

.su-text p {
    margin-top: 2px;
}

.sign-up p {
    margin-bottom: 0px;
}

.pushing-tcz h2,
.welcome h1,
.text h2,
.adventure h4 {
    text-transform: uppercase;
}

input {
    padding: 5px 190px;
    margin-bottom: 10px;
}

.cta-su {
    padding: 5px 215px;
}