.products-header {
    background: url("../images/news-product.png") center no-repeat;
    min-height: 500px;
    background-size: cover;
}

.products-header h1 {
    color: #fff;
    position: absolute;
    top: 275px;
    left: 75px;
    right: 500px;
    font-weight: bold;
    font-size: xx-large;
}

select {
    border: none;
    outline: none;
    margin: 50px 0px 0px 60px;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Hind Madurai";
}

.filter-1 select,
.filter-4 select {
    width: 90px;
}

.filter-2 select,
.filter-3 select {
    width: 70px;
}



.jacket-list {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 350px 350px 350px 350px;
    grid-gap: 0px;
    margin: 40px 60px 120px 60px;
}

.jackets img,
.product_image {
    width: 200px;
    height: auto;
    grid-column: -1/1;
    align-items: center;
    background-color: #F4F3F3;
    margin: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 8px;
}

.jackets p {
    grid-column: 1;
    font-size: 1.4em;
    margin: 0px 10px;
}

.jackets h2 {
    margin-bottom: 0px;
    margin: 0px 10px;
}

.jacket-list a {
text-decoration: none;
color: #000;
}


/* Media */

@media (min-width: 550px) {

.content {
    display: grid;
    margin: 60px;
    grid-gap: 1em;
    grid-template-rows: auto;
    max-width: 500px;
}

}
    
@media (min-width: 800px) {
    
.jacket-list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px 450px 450px 450px;
    grid-gap: 20px;
}

.jackets img,
.product_image {
    width: 300px;
}

}