h1, h2, body, .logo, textarea, input {
    font-family: "Hind Madurai", "Poppins", Verdana, Geneva, Tahoma, sans-serif
}

.welcome h1, .text h2, .cta, .cta-su {
    font-family: "Poppins", "Hind Madurai", Verdana, Geneva, Tahoma, sans-serif;
}


body {
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* part of header */

.delivery, .pushing-tcz {
    background-color: #203E5F;
    color: #fff;
    text-align: center;
}

.delivery h1, .pushing-tcz h2 {
    font-size: 1rem;
    padding: 5px;
    font-weight: bolder;
    margin: 0;
}

.pushing-tcz h2 {
    text-transform: uppercase;
}

/* navbar */

.logo {
    display: block;
    margin: auto;
    max-width: 120px;
    margin-top: 10px;
}

.icons .shopping {
    display: inline;
}

.logo2 {
    width: 875px;
    display: contents;
}

.navbar-split, 
#menu-checkbox,
.nav-icons {
    display: none;
}

#menu-checkbox:checked ~ .navbar-split {
    display: block;
    margin-top: 15px;
}

.navbar-split a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-family: "Hind Madurai";
    display: block;
    margin-left: 15px;
}

.navbar-split {
    list-style-type: none;
    background-color: #203E5F;
    top: 90px;
    position: absolute;
    width: 100%;
}

a,
.nav-icons p {
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.icons .shopping .material-symbols-outlined {
    font-size: 2rem;
}

#menu-checkbox .material-symbols-outlined {
    margin: 10px;
    font-size: 2.5rem;
}

nav a:hover {
    color: orange;
}

.hamburger-icon,
.icons-shopping {
    font-size: 3rem;
    margin: 0px 10px;
}

.nav-category {
    padding: 15px 0px;
}

.hamburger-icon .material-symbols-outlined,
.icons-shopping .material-symbols-outlined {
    font-size: 2rem;
}



/* Buttons */

.cta {
    color: #000;
    border-color: #000;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    padding: 4px 20px; 
    border-radius: 2em;
    border-style: solid;
}

.cta:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    padding: 4px 20px; 
    border-radius: 2em;
    border-style: solid;
}

.cta-su {
    color: #fff;
    background-color: #203E5F;
    font-size: 1em;
    text-transform: uppercase;
    padding: 5px 200px; 
}

.sign-up .cta-su {
    padding: 8px 225px;
}

.sign-up input {
    border-radius: 0px;
    padding: 8px 200px;
    margin: 0px 0px 8px;
}

textarea::placeholder {
    font-family: "Hind Madurai", "Poppins", "Arial";
}

.cta-black {
    color: #fff;
    background-color: black;
    font-size: 1em;
    text-transform: uppercase;
    padding: 15px 318px; 
}

.cta-black:hover {
    background-color: #2a2a2a
}

.jump {
    display: block;
}



/* Footer */
footer {
    background-color: #203E5F;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #fff;
}

.footer-c {
    display: grid;
    grid-template-columns: 170px 170px;
    grid-template-rows: 300px;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-heading {
    color: #fff;
    margin-left: 50px;
}

.footer-heading h2 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    display: block;
}

.footer-heading a:hover {
    color: orange;
}

.footer-b {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.6rem;
}

.ftext4 h2 {
    width: 100%;
}

.footer-heading img {
    width: 35px;
    height: 20px;
    margin: 3px;
}

.bottom1 {
    justify-content: center;
}

.bottom2 img {
    max-width: 16px;
    border-radius: 30px;
}






/* Media navbar */
        
@media (min-width: 894px) {
    .navbar-split {
        position: static;
        background-color: #fff;
        color: #000;
        display: flex;
    }
        
    .navbar-split a {
        color: #000;
    }
        
    .hamburger-icon,
    .icons-shopping {
        display: none;
    }
        
    .navbar {
        display: flex;
        margin-bottom: 15px;
        justify-content: flex-start;
    }
        
    .nav-category {
        display: flex;
    }
        
    .nav-icons {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 55px;
    }
        
    .logo {
        margin: 12px 50px;
    }
        
    nav .nav-category a {
        display: inline-block;
        margin: 15px 0px 15px 50px;
        font-weight: bold;
    }
        
    .icons {
        float: right;
        margin: 15px 5px 15px 0px;
    }
        
    #menu-checkbox:checked ~ .navbar-split {
        display: none;
        margin-top: 0px;
    }
        

}




/* Media footer */



@media screen and (min-width: 600px) {
        
        .footer-b {
            font-size: 0.8rem;
        }

        .footer-c {
            grid-template-columns: 200px 200px 200px;
        }
        
        .bottom2 img {
            max-width: 20px;
        }

        .footer-heading img {
            width: 50px;
            height: 30px;
            margin: 5px;
        }

        
        }

@media (min-width: 850px) {
    .footer-b {
        font-size: 0.8rem;
    }

    .footer-c {
        grid-template-columns: 200px 200px 200px 200px;
        grid-template-rows: 0px 250px;
    }

    .bottom2 img {
        max-width: 20px;
    }

    .footer-heading img {
        width: 50px;
        height: 30px;
        margin: 5px;
    }
}


@media (min-width: 1000px) {
    .footer-b {
        font-size: 0.9rem;
    }

    .footer-c {
    grid-template-columns: 325px 325px 325px 500px;
    grid-template-rows: 200px;
    justify-content: start;
    margin-bottom: 50px;
}

.bottom2 img {
        max-width: 20px;
    }

    .footer-heading img {
        width: 50px;
        height: 30px;
        margin: 5px;
    }
}

            
        


