h1, h2, body, .logo, textarea, input {
    font-family: "Hind Madurai", "Poppins", Verdana, Geneva, Tahoma, sans-serif
}

.welcome h1, .text h2, .cta, .cta-su {
    font-family: "Poppins", "Hind Madurai", Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.delivery, .pushing-tcz {
    background-color: #203E5F;
    color: #fff;
    text-align: center;
}

.delivery h1, .pushing-tcz h2 {
    font-size: 1rem;
    padding: 5px;
    font-weight: bolder;
    margin: 0;
}

.pushing-tcz h2 {
    text-transform: uppercase;
}

header a {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    list-style-type: none;
}

.logo {
    display: block;
    margin: auto;
}

header img {
    max-width: 120px;
}

nav {
    float: center;
}

nav ul {
    margin-left: 160px;
    list-style: none;
    margin: 15px;
}

nav li {
    display: inline-block;
    margin: 15px 0px 15px 50px;
    font-weight: bold;
}

.icons {
    float: right;
    margin: 15px 5px 15px 0px;
}

nav a:hover {
    color: orange;
}

.cta {
    color: #000;
    border-color: #000;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    padding: 4px 20px; 
    border-radius: 2em;
    border-style: solid;
}

.cta:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    padding: 4px 20px; 
    border-radius: 2em;
    border-style: solid;
}

.cta-su {
    color: #fff;
    background-color: #203E5F;
    font-size: 1em;
    text-transform: uppercase;
    padding: 5px 200px; 
}

.sign-up .cta-su {
    padding: 8px 225px;
}

.sign-up input {
    border-radius: 0px;
    padding: 8px 200px;
    margin: 0px 0px 8px;
}

textarea::placeholder {
    font-family: "Hind Madurai", "Poppins", "Arial";
}

.cta-black {
    color: #fff;
    background-color: black;
    font-size: 1em;
    text-transform: uppercase;
    padding: 15px 318px; 
}

.cta-black:hover {
    background-color: #2a2a2a
}

.jump {
    display: block;
}

/* Footer */
footer {
    background-color: #203E5F;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #fff;
}

.footer-c {
    height: 30vh;
    display: flex;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    color: #fff;
    margin-left: 50px;
}

.footer-heading h2 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: orange;
}

.ftext4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.ftext4:nth-of-type(1) {
    flex-shrink: 3;
}

.ftext4 h2 {
    width: 100%;
}

.footer-heading img {
    width: 50px;
    height: 30px;
    margin: 5px;
}

.bottom1 {
    padding-top: 50px;
    text-align: center;
    margin: 0 500px; 
}

.bottom2 {
    padding-top: 50px;
}

.footer-b {
    display: flex;
    margin-top: 30px;
}



/* Media */

@media (min-width: 600px) {
.logo {
    float: left;
    margin: 15px 0px 15px 50px;
}
}

@media (min-width: 800px){

.logo {
    float: left;
    margin: 15px 0px 15px 50px;
}

.header {
    max-width: 800px;
}
}










